<div class="content">
    <form class="form">
        <div class="header">
            <h1>Cadastro CR Management</h1>
        </div>
        <div class="info">
            <mat-form-field class="full-width">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Seu nomme">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Sobrenome</mat-label>
                <input matInput placeholder="Seu nomme">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label class="label">Aniversario</mat-label>
                <input matInput placeholder="Seu nomme">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label class="label">Endereco</mat-label>
                <input matInput placeholder="Seu nomme">
            </mat-form-field>
        </div>
        <div class="buttons">
            <button class="btn btnLogin">Enviar</button>
        </div>
    </form>
</div>
