.logo{
    width: 45px;
    height: 45px;
}

.link-navegacao{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.header{
    background-color: rgba(255, 255, 255, 0.0);
    box-shadow: none;
    position: fixed;
}

.spacer{
    width: 100%;
}

.btn{
    width: 100%;
    height: 35px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 20px;
    border-radius: 15px 5px 15px 5px;
    border: none;
    transition: 1s;
    text-transform: uppercase;
    font-family: bold montserrat;
}

.btn:hover {
    width: 150%;
}

.buttons{
    display: flex;
    width: 80vh;
}

.btnlin:hover{
    background-color: #f85151;
}

.btnlon:hover{
    background-color: rgb(24, 151, 12);
}